article { 
    display: block;
    color: white;
}

footer div{
	background-color: white;
	color: black;
}

header {
	height: 200px;
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

.members{
	color: white;
}

.inlineList{
    display: inline;
    width: 60px;
    text-align: center;
    margin: 125px;

}

.centered{
	text-align: center;
	position: absolute; 
    top: 80%; 
    left: 0; 
    width: 100%; 
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.headerWrapper {
	background-image: url("images/concert1.jpeg");
	background-size: cover;
	margin: 0 auto;
	padding: 0 3.0em;
	font-size: 50%;
	color: red;
	height: 400px;
    position: relative; 
    width: 100%; /* for IE 6 */

}

.rockNews{
	font-family: 'Rock Salt', cursive;
	font-size: 100%;
	color: black;
	margin-top: 25px;
	left: 25px;
}

.otr{
	font-family: 'Rock Salt', cursive;
	font-size: 100%;
	color: red;
	margin-top: 50px;
}

.headerRedBG{
	font-family: 'Rock Salt', cursive;
	font-size: 1000%;
	color: red;
	text-align: center;
	position: absolute; 
    top: 35px; 
    left: 0; 
    width: 100%; 

}

.memBanner{
	font-family: 'Rock Salt', cursive;
	font-size: 300%;
	color: white;
	text-align: center;
	position: absolute; 
    top: 50%; 
    left: 25%; 
	border: 10px solid gray;
	border-radius: 15px;
	background-color: red;
	width: 70%;
	margin: 10px;
	padding: 10px;

}

.member1{
	font-family: 'Rock Salt', cursive;
	font-size: 150%;
	color: black;
	text-align: left;
	position: absolute; 
    top: 70%; 
    left: 25%; 
	border: 10px solid gray;
	border-radius: 15px;
	background-color: red;
	width: 20%;
	margin: 10px;
	padding: 10px;
	height: 65%

}

.member2{
	font-family: 'Rock Salt', cursive;
	font-size: 150%;
	color: black;
	text-align: left;
	position: absolute; 
    top: 70%; 
    left: 50%; 
	border: 10px solid gray;
	border-radius: 15px;
	background-color: red;
	width: 20%;
	margin: 10px;
	padding: 10px;
	height: 65%
}

.member3{
	font-family: 'Rock Salt', cursive;
	font-size: 150%;
	color: black;
	text-align: left;
	position: absolute; 
    top: 70%; 
    left: 75%; 
	border: 10px solid gray;
	border-radius: 15px;
	background-color: red;
	width: 20%;
	margin: 10px;
	padding: 10px;
	height: 65%;
}

.getGear{
	font-family: 'Rock Salt', cursive;
	font-size: 300%;
	color: white;
	text-align: center;
	position: absolute; 
    top: 143%; 
    /*left: 3%; */
	border: 10px solid gray;
	border-radius: 15px;
	background-color: red;
	width: 94.5%;
	margin: 10px;
	padding: 10px;

}

.mics{
	font-family: 'Rock Salt', cursive;
	font-size: 150%;
	color: black;
	text-align: left;
	position: absolute; 
    top: 165%; 
    /*left: 25%; */
	border: 10px solid gray;
	border-radius: 15px;
	background-color: red;
	width: 27%;
	margin: 10px;
	padding: 10px;
	height: 65%

}

.drums{
	font-family: 'Rock Salt', cursive;
	font-size: 150%;
	color: black;
	text-align: left;
	position: absolute; 
    top: 165%; 
    left: 34.3%; 
	border: 10px solid gray;
	border-radius: 15px;
	background-color: red;
	width: 27%;
	margin: 10px;
	padding: 10px;
	height: 65%
}

.guitars{
	font-family: 'Rock Salt', cursive;
	font-size: 150%;
	color: black;
	text-align: left;
	position: absolute; 
    top: 165%; 
    right: 1.7%; 
	border: 10px solid gray;
	border-radius: 15px;
	background-color: red;
	width: 27%;
	margin: 10px;
	padding: 10px;
	height: 65%;
}

.blackBackground{
	background-color: black;
}

.redBackground{
	border: 10px solid gray;
	border-radius: 15px;
	background-color: red;
	float: left;
	width: 20%;
	margin: 10px;
	padding: 10px;
}

.smallBorder{
	border: 2px solid black;
}

.largeBorder{
	border: 10px solid red;
	border-radius: 15px;
}

#ul_1{
	font-size: 300%;
	display: inline;
	width: 60px;
	color: red;
	list-style-type: none;
    margin: 0;
    padding: 0;

}

#ul_2{
	font-size: 300%;
	/*display: inline;*/
	color: red;
	list-style-type: none;
    margin: 0;
    padding: 0;

}

